.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.categoria-checkboxes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.categoria-item {
  display: flex;
  align-items: center;
}

.text-white {
  color: white !important; /* Fuerza el color blanco */
}